* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2c3e5036;
    background-image: url(../img/water.png);
    -webkit-background-clip: text;
    animation: water 15s infinite;
}

@keyframes water {
    form {
        background-position: left 0 top 0;
    }

    to {
        background-position: left 1500px top 0;
    }
}